.task-modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.task-modal-content {
    display: flex;
    gap: 15px;
    background-color: #2D343B;
    color: white;
    margin: auto;
    padding:  40px 20px;
    border: 1px solid rgba(120, 120, 120);
    border-radius: 10px;
    width: 60%;
    min-width: 400px;
}
.task-modal-main-content{
    display: flex;
    gap: 10px;
    width: 95%;
}

.task-modal-left-side{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
}
.task-modal-title-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.task-modal-title-container input{
    font-size: 20px;
    border: 2px solid transparent;
    font-weight: 600;
}
.task-modal-title-container input:focus{
    border: 2px solid rgb(120, 120, 120);
}
.task-modal-right-side{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.task-modal-btn{
    padding: 10px 20px;
    width: 100%;
    background-color: rgb(100, 100, 100);
    border: none;
    border-radius: 5px;
    color: white;
}
.close {
    text-align: right;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -7px;
}
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
