.container-wrapper{
    height: 100vh;
    display: flex;
}
.empty-board{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
}
.main-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 10px;
    border-bottom: 1px solid rgba(120, 120, 120);
    background-color: white;
    color: black;
    opacity: 0.8;
}
.theme-btn{
    width: 60px;
    padding: 5px 10px;
    border-radius: 20px;
}
.todo-container{
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    gap: 1rem;
    padding: 20px 10px;
    overflow-x: auto;
    scrollbar-width: thin;
}
.list{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    border-radius: 10px;
    min-width: 300px;
    max-height: 100%;
    padding: 10px;
}
.task-input{
    background-color: transparent;
    padding: 10px;
    color: white;
    border: none;
}

.todo-btn{
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.add-list-btn{
    min-width: 200px;
}

.task-modal-input{
    color: white;
    background-color: transparent;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    width: 100%;
}
.hover-effect:hover{
    background-color: rgb(100, 100, 100);
}
.hover-effect:focus{
    background-color: transparent;
    border: 2px solid rgb(120, 120, 120);
}
.focus-effect:focus{
    border: 2px solid rgb(120, 120, 120);
}
.border{
    border: 2px solid rgb(120, 120, 120);
}
.icon-btn{
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
}
.icon-btn:hover{
    background-color: rgb(150, 150, 150);
    border-radius: 5px;
}

/*------------------------- React quill -----------------------------*/
.quill {
    border: 2px solid rgb(120, 120, 120);
    border-radius: 5px;
}
.description-container .quill .ql-container.ql-snow{
    border: none !important;
    height: 200px;
}
.ql-toolbar.ql-snow{
    border: none !important;
    border-bottom: 1px solid rgb(100, 100, 100) !important;
}
.ql-toolbar .ql-picker {
    color: #fff !important;
}
.ql-toolbar .ql-fill {
    fill: #fff;
    stroke: none;
}
.ql-toolbar .ql-stroke {
    stroke: #fff !important;
}
.ql-toolbar .ql-fill {
    fill: #fff !important;
}
.ql-editor::before {
    color: #767676 !important;
    font-style: italic;
    opacity: 1;
}
.ql-snow .ql-picker-options{
    color: black !important;
}