.main-container{
    height: 100vh;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.theme-btn{
    width: 60px;
    padding: 5px 10px;
    border-radius: 20px;
}

.todo-container{
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    gap: 1rem;
    margin: 10px 0;
    padding-bottom: 10px;
    overflow-x: auto;
    scrollbar-width: thin;
}

.list{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    border-radius: 10px;
    min-width: 300px;
    max-height: 100%;
    padding: 5px;
}

.task-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color:   rgb(66, 63, 63) transparent;
}

.list-title-input{
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.list-title-input:focus, .task-input:focus{
    outline: none;
}

.task-input{
    background-color: transparent;
    padding: 10px;
    color: white;
    border: none;
}

.todo-btn{
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
}

.add-list-btn{
    min-width: 200px;
}

.add-task-btn{
    text-align: left;
}

.add-task-btn:hover, #add_list_btn:hover{
    background-color: rgb(66, 63, 63);
}

.task-name{
    border: 1px solid black;
}

.task-card{
    display: flex;
    background-color: rgb(66, 63, 63);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    justify-content: space-between;
}

.task-card:hover{
    border: 1px solid white;
}

.task-details-btn, .task-save-btn{
    color: white;
    background-color: transparent;
    padding: 8px 8px;
    cursor: pointer;
}

.task-modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* Task Modal */
.task-modal-content {
    display: flex;
    gap: 15px;
    background-color: rgb(66, 63, 63);
    color: white;
    margin: auto;
    padding:  15px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    min-width: 400px;
}
.task-modal-main-content{
    display: flex;
    gap: 10px;
    width: 95%;
}

.task-modal-left-side{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
}
.task-modal-right-side{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.task-modal-btn{
    padding: 10px 20px;
    width: 100%;
    background-color: rgb(100, 100, 100);
    border: none;
    border-radius: 5px;
    color: white;
}

.add-checklist-item-btn{
    margin-left: 28px;
    padding: 10px 20px;
    background-color: rgb(100, 100, 100);
    border: none;
    border-radius: 5px;
    width: 150px;
    color: white;
}

.add-checklist-item-btn:hover, .task-modal-btn:hover, .checklist-delete-btn:hover{
    background-color: rgb(120, 120, 120);
}

.task-modal-input{
    color: white;
    background-color: transparent;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    width: 100%;
}
.hover-effect:hover{
    background-color: rgb(100, 100, 100);
}
.hover-effect:focus{
    background-color: transparent;
    border: 2px solid rgb(118, 118, 118);
}
.focus-effect:focus{
    border: 2px solid rgb(118, 118, 118);
}

.task-modal-content textarea{
    height: 200px;
}

.task-modal-content input:focus, .task-modal-content textarea:focus{
    outline: none;
}

.close {
    text-align: right;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -7px;
}
  
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.checklist-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.checklist-title-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.checklist-title-icon{
    font-size: 20px;
}
.checklist-item-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.checklist-item{
    display: flex;
    gap: 10px;
    align-items: center;
}
.checklist-item-checkbox{
    display: inline;
    width: 18px;
    height: 18px;
}
.checklist-item-progress-container{
    display: flex;
    gap: 10px;
    font-size: 8px;
    margin-top: 10px;
    color:  rgb(159, 154, 154);
}
.checklist-item-progress{
    width: 100%;

}

.checklist-title-input-box, .checklist-list-input-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    position: relative;
}
.checklist-delete-btn{
    padding: 7px 10px;
    background-color: rgb(100, 100, 100);
    border: none;
    border-radius: 5px;
    color: white;
    position: absolute;
    right: 3px;
}
.checklist-list-delete-btn{
    padding:3px;
    position: absolute;
    right: 3px;
    color: indianred;
}
.checklist-list-delete-btn:hover{
    color: red;
}